.navbar{
    
}


.flex-column{
    /* width: 100%; */
    height: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-top: 65px;
    font-size: 1.3rem;
}

.nav-item{
    text-align: center;
   /*  flex: 0 0 0;  /* /*PENDIENTE DE PROBAR DE SER NECESARIO */
}