.main{
  height: 100vh;
}

.alert-component {
  text-align: center;
  height: inherit;
  /* overflow: hidden; */  /*overflow no resuelve el problema*/
  /* scroll-behavior:unset;  */   /*scroll-behavior no resuelve el problema!*/
}

.alert-oneliner {
  font-size: 1.2rem;
}

.accordion {
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 80px;
}
.accordion-header {
  font-size: 1.3rem;
}

.search-button {
  margin-top: 2px;
  width: 300px;
}

.contrib-button {
  margin-top: 8px;
  width: 300px;
}
.figure {
  position: relative;
  top: 15px;
  
}

.figure-image {
  border-radius: 50%;

}
