.spacer{
margin-bottom:2.5rem;
}

.alert-component{
height:110vh;
}

.accordion {
  position: relative;
  top: 30px;
  margin: 0 auto;
  width:100%;
  margin-bottom: 80px;
}

.search-button {
  margin-top: 2px;
  width: 300px;
}

.contrib-button {
  margin-top: 8px;
  width: 300px;
}

.reference-box{
  width:60%;
  text-align: justify;
  margin:25px auto;
  
}

@media all and (min-width: 768px){

.home-main{
  height: 110vh;  
}

.viewport-size{

}
.alert-heading{

}

.alert-component {
  text-align: center;
  height: inherit;
  /* overflow: hidden; */  /*overflow no resuelve el problema*/
  /* scroll-behavior:unset;  */   /*scroll-behavior no resuelve el problema!*/
}

.alert-oneliner {
  font-size: 1.2rem;
}

.bottom-wrapper{
  display:flex;
  flex-flow: row nowrap;
  
}

.accordion {
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: 25%;
  margin-bottom: 80px;
}

.accordion-header {
  font-size: 1.3rem;
}

.search-button {
  margin-top: 2px;
  width: 300px;
}

.contrib-button {
  margin-top: 8px;
  width: 300px;
}

.logo-figure {
margin-right: 8rem;
margin-top: 1.5rem;
  
}
.main-figure{
  margin-left: 8rem;
  margin-top:1.5rem;
}

.figure-image {
  border-radius: 5%;
  max-width: 100%;
  height:auto;
}


}