.search-alert-component {
  /* font-size: larger; */
}

.search-alert-heading,
.search-alert-summary {
  text-align: center;
  padding-top: 20px;
}

.select-label {
  position: relative;
  left: 48px;
}

.select-form{
  
}

.button-container {
  position: relative;
  left: 42px;
}


.search-result-alert-heading{
  text-align: center;
  padding-top: 20px;
}

