
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "DM-Sans", Verdana, "Times New Roman";
  box-sizing: border-box;
}

/* :root {
  
}
 */

 
/* #root {
  height: 100vh;
} */

